body {
	display: flex;
	margin: 0;
  background: black;
}

h2, p {
	color: white;
	font-family: Georgia;
}

img {
	max-width: 100%;
}

.card_box, .header, .description, .deal_button, .section {
  opacity: 0;
}

.card_box {
  background-color: black;
  width: 100%;
  aspect-ratio: 1 / 1;
	margin-bottom: 3vw;
}

.centering_div {
  text-align: center;
}

.deal_button {
	border: 1px solid white;
	color: white;
	font-family: Georgia;
	position: relative;
	text-align: center;
	text-decoration: none;
	width: 50%;
}

.deal_button:hover {
	background-color: white;
	color: black;
	mix-blend-mode: screen;
}

.description {
	font-size: 1.4vw;
	line-height: 180%;
	margin-bottom: 2vw;
}

.header {
	font-size: 2.5vw;
	font-weight: normal;
	letter-spacing: 0.2vw;
	margin-bottom: 3vw;
	text-align: center;
}

.section {
	padding: 3vw 5.5vw;
	position: relative;
  width: 33.33vw;
}

#back_button {
  width: 1.5vw;
	left: 2vw;
	position: fixed;
	top: 5vw;
	z-index: 999;
}

#future_section {
	background: black;
  background-position: center 0;
	background-repeat: no-repeat;
  background-size: cover;
}

#future_deal_button {
  display: inline-block;
  visibility: hidden;
  font-size: 20px;
  padding: 8px 12px;
  margin: 0 auto;
}

#past_section {
	background: black;
  background-attachment: absolute;
	background-position: center 0;
	background-repeat: no-repeat;
  background-size: cover;
}

#present_deal_button {
	font-size: 1.5vw;
	left: 50%;
	margin-bottom: 3vw;
	margin-left: -25%;
	margin-top: 2vw;
	padding: 1vw 1.5vw;
}

#present_description {
  margin-bottom: 3vw;
}

#present_section {
	background: black;
	background-position: center 0;
	background-repeat: no-repeat;
  background-size: cover;
}



@media only screen and (max-width: 1096px) {
  body {
    display: block;
  }
  
  img {
    max-width: 100%;
  }

  .section {
    padding: 5vw 20vw;
    width: auto;
  }

  .header {
    font-size: 25px;
  }

  .description {
    font-size: 15px;
  }

  #future_deal_button {
    visibility: visible;
  }

  #future_description {
  	margin-bottom: 7vw;
    }
  
  #back_button {
    top: 8vw;
    left: 8vw;
    width: 2vw;
  }

  #present_deal_button {
    visibility: hidden;
  }

  #present_description {
  	margin-bottom: auto;
  }
}